{%- assign quotes = site.data.quotes -%}
{%- if quotes and quotes.size > 0 -%}
<div class="about-random-quote" data-random-quote>
  {%- for item in quotes -%}
    <figure class="about-quote{% if forloop.first %} is-visible{% endif %}" data-quote>
      <blockquote>{{ item.quote }}</blockquote>
      {%- if item.author -%}
        <figcaption>
          - {{ item.author }}{%- if item.source -%}, <cite>{{ item.source }}</cite>{%- endif -%}
        </figcaption>
      {%- endif -%}
    </figure>
  {%- endfor -%}
</div>
<script>
  (function () {
    var container = document.querySelector('[data-random-quote]');
    if (!container) return;

    var quotes = container.querySelectorAll('[data-quote]');
    if (!quotes.length) return;

    var index = Math.floor(Math.random() * quotes.length);
    quotes.forEach(function (quote, quoteIndex) {
      quote.classList.toggle('is-visible', quoteIndex === index);
    });
  })();
</script>
{%- endif -%}
